{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-4">
      <div class="touch">
        <div class="card">
          <br>
          <h5 class="text-center">About me</h5>
          <img src= "https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.0-9/69625993_2404477246332212_7965359163620458496_n.jpg?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_ohc=iQuW0eXN1qgAX9EosN4&_nc_ht=scontent.fbkk22-3.fna&oh=d34bf937ec0e297af2abca85434511db&oe=603F043D">
          </div>
        </div>
      </div>
      <div class="col-md-5">
         <div class="touch">
           <div class="card text-left">
             <div class="card-body">
               <h5 class="text-center">ข้อมูลส่วนตัว</h5>
               <p>ชื่อ : Bongkot Buasri</p>
               <p>รหัสนิสิต : 62102010171</p>
           </div>
         </div>
       </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}